*{
  overflow: hidden;
}

.videomeet {
  padding: 50px;
  display: flex;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
}

.connect button {
  margin: 15px;
  padding: 13px;
  background-color: #7c4dff;
}

.myvideo {
  width: auto;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .videomeet {
    display: grid;
  }
  .connect h1 {
    font-size: 22px;
  }
  .connect p {
    font-size: 14px;
  }
  .myvideo {
    width: 75vw;
  }
}
@media (max-width: 480px) {
  .connect h1 {
    font-size: 20px;
  }
}

.meetVideoContainer {
  display: flex;
  position: relative;
  height: 100vh;
  background: rgb(1, 4, 48);
}

.meetUserVideo {
  position: absolute;
  bottom: 10vh;
  height: 20vh;
  left: 0;
  width: 30vw;
  border-radius: 20px;
}

.buttonContainers {
  position: absolute;
  width: auto;
  bottom: 0;
  text-align: center;
}

.buttonContainers svg {
  font-size: 50px;
}

.conferenceView {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.conferenceView video {
  display: flex;
  flex-wrap: wrap;
  width: 10vw;  
  height: 20vh;
  min-width: 30vw;
  border-radius: 10px;
}

.chatRoom {
  position: absolute;
  height: 100vh;
  right: 0;
  background: white;
  width: 100vw;
  padding-inline: 20px; 
}

.chatContainer {
  position: relative;
  height: 100%;
}

.chat{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.chat i{
  font-size: 25px;
}

.chattingArea {
  position: absolute;
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px){
  .buttonContainers {
    text-align: left;
  }

  .chatRoom{
    width: 40vw;
  }
  .chattingArea {
    display: grid;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .buttonContainers {
    /* text-align: left; */
  }
  .chattingArea {
    /* display: grid; */
    gap: 20px;  
  }
  .chatRoom{
    z-index: 1;
  }
}
.chattingArea Button {
  padding: 0 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.chattingDisplay {
  height: 75vh;
  overflow-y: scroll;
}
