 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 html, body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
}

.landingPageContainer ::-webkit-scrollbar{
  display: none;
}

.landingMainContainer::-webkit-scrollbar{
  display: none;
}

.home::-webkit-scrollbar{
  display: none;
}

.meetContainer::-webkit-scrollbar{
  display: none;
}
